<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode:'92fe6233e8433a8b1fe337b5c19dfc68',
    }
</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=d4b03810ff2d5fbc4f2155f626c9fde3"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
